<div class="container" ng-cloak>

    <h1>Power Profile Prototype {{profile['@id']}}</h1>

    <p><a ng-href="{{profile['@href']}}">URI Resource</a></p>

    <pre>{{ profileChart }}</pre>

    <!--<highchart id="profile1" config="profileChart"></highchart>-->

    <div class="keep-aspect-ratio" style="padding-top: {{ 90 }}%;">
        <div my-chart="profileChart2"/>
    </div>
    <!--<div class="keep-aspect-ratio">-->
    <!--<chart value="profileChart2" type="area" style="height: 100%;"/>-->
    <!--</div>-->
    <chart id="mychart2" options="profileChart2" aspect-ratio="60%"/>

    <ul class="specs">
        <span>Specifications</span>
        <dl>
            <dt>Total Duration (minutes)</dt>
            <dd>{{profile.totalduration}}</dd>
            <dt>Total Energy (Watt/hour)</dt>
            <dd>{{profile.totalenergy}}</dd>
            <dt>Energy Phases</dt>
            <dd id="phaseTable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Duration</th>
                        <th>Max Delay</th>
                        <th>Peak Power</th>
                        <th>Mean Power</th>
                        <th>Biased Peak Power</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="phase in profile.energyphases.energyphase">
                        <td>
                            {{phase['@id']}}
                        </td>
                        <td>
                            {{phase['@duration']}}
                        </td>
                        <td>
                            {{phase['@maxdelay']}}
                        </td>
                        <td>
                            {{phase['@peakpower']}}
                        </td>
                        <td>
                            {{phase['@meanpower']}}
                        </td>
                        <td>
                            {{phase['@biasedpower']}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </ul>


</div>
