<div class="container-fluid" ng-cloak>

    <h1>Simulation Setup</h1>

    <div class="row-fluid">
        <div class="span12">

            <form name="loginForm" novalidate ng-controller="SimulationSetupController" ng-submit="login()">
                <legend>Fill Setup Parameters</legend>

                <label class="control-label" for="username">Enter your Username</label>

                <div class="control-group"
                     ng-class="{error: loginForm.username.$invalid}">
                    <div class="controls">
                        <input name="username" type="text" ng-required="true" ng-minlength="5" ng-maxlength="20"
                               placeholder="Username"
                               ng-model="session.username" class="input-xlarge focused"/>

                <span class="help-inline"
                      ng-show="loginForm.username.$error.required"><span
                        class="label label-important">Required</span></span>
                <span class="help-inline"
                      ng-show="loginForm.username.$error.minlength"><span
                        class="label label-warning">Too Short</span></span>
                <span class="help-inline"
                      ng-show="loginForm.username.$error.maxlength"><span
                        class="label label-warning">Too Long</span></span>

                    </div>

                </div>
                <div class="control-group"
                     ng-class="{error: loginForm.password.$invalid}">
                    <div class="controls">
                        <input name="password" type="password" placeholder="Password" required
                               ng-model="session.password"/>
                <span class="help-inline"
                      ng-show="loginForm.password.$error.required">Required</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls controls-row">
                        <button type="submit" class="btn" value="Login" title="Login"
                                ng-disabled="!loginForm.$valid">
                            <span>Login</span>
                        </button>
                    </div>
                </div>
            </form>

            <form name="loginform" novalidate ng-submit="login.submit()">
                <fieldset>
                    <label class="control-label" for="username">Your Username</label>

                    <div class="control-group input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" ng-model="login.username" name="username" required ng-minlength="3"
                               placeholder="username"/>
                    </div>

                    <label class="control-label" for="password">Type your password</label>

                    <div class="control-group input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input type="password" ng-model="login.password" name="password" required ng-minlength="3"
                               placeholder=""/>
                    </div>

                    <div class="control-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </fieldset>
            </form>

            <form name="form" novalidate ng-submit="submitted=true">
                <div class="control-group"
                     ng-class="{true: 'error'}[form.email.$error.email || (submitted && form.email.$error.required)]">
                    <label class="control-label" for="email">Your email address</label>

                    <div class="controls">
                        <input type="email" name="email" ng-model="email" required/>
                        <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
                        <span class="help-inline" ng-show="form.email.$error.email">Invalid email</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-large">Submit</button>
            </form>

        </div>

    </div>
</div>