<div class="container-fluid" ng-cloak>

    <h1>Solar Power solar {{ solar.skycover }}</h1>

    <div class="row-fluid">
        <div class="span12">
            <p><a ng-href="{{solar['@href']}}">URI Resource</a></p>

            <ul class="specs">
                <span>Specifications</span>
                <dl class="dl-horizontal">
                    <dt>Slot Size</dt>
                    <dd>{{ solar.slotsize }} (seconds), i.e. {{solar['@label']}}</dd>
                    <dt>Number of Slots</dt>
                    <dd>{{solar.slots}}</dd>
                    <dt>Total Duration</dt>
                    <dd>{{ solar.totalhours }} ({{ solar.totsalseconds }})</dd>
                    <dt>Max Peak Power</dt>
                    <dd>{{solar.peakpower}}</dd>
                </dl>


            </ul>

            <highchart id="solar1" series="solarChart.series" options="solarChart" title="solarChart.title"
                       style="width:70%; height:50%;"></highchart>

            <highchart id="tariff1" series="tariffChart.series" options="tariffChart" title="tariffChart.title"
                       style="width:70%; height:50%;"></highchart>
            <!---
            <chart value="solarChart2" type="areaspline" height="600"/>
            -->
        </div>
    </div>
</div>